@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Rubik:wght@800&display=swap');

/********************************************/
/* OVERRIDE GENERAL BROWSER STYLES          */
/********************************************/

body {
    margin: 0; /* we want to use whole area */
    padding: 0;
}

p {
    font-family: 'Rubik', sans-serif;
    font-size: large;
}

h1 {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 3em;
}

h2 {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 1.5em;
    color: #0A0A0A;
}

a {
    font-family: 'Rubik', sans-serif;
}

main {
    background-color: beige;
}

/********************************************/
/*              HEADER STYLING              */
/********************************************/
header {
    background-color: #1f271b;
    position: fixed;
    height: 70px;
    width: 100%;
    padding: 2px;
    z-index: 2;
    clear:both;
    overflow:auto;
}


.logo-container {
    padding-top: 10px;
    padding-left: 40px;
    float: left;
}

.header-title {
    font-family: "Courier 10 Pitch", sans-serif;
    font-size: 3em;
    text-decoration: none;
    margin-left: 150px;
    margin-top: 5px;
    color: whitesmoke;
}

#top-menu {
    list-style-type: none;
    margin: 0;
    padding: 2px;
    text-align: center;
}

#top-menu-nav {
    margin-right: 100px;
    float: right;
}

.top-menu-item {
    transition: 0.3s ease;
    display: inline-block;
    margin-right: 2px;
    border-style: solid;
    border-width: 0;
    margin-top: 10px;
}

.top-menu-item:hover {
   background-color: gray;
}

.top-menu-item > a {
    display: inline-block; /* make whole area clickable */
    padding: 0.5em 1.2em;
    color: whitesmoke;
    text-decoration: none;
    font-family: "Libre Baskerville", sans-serif;
    font-size: 20px;
}


/*********************************
        SECTION STYLING
/**********************************/
section {
    margin: 0;
    padding: 30px 0; /*top-bottom:120, left-right:0 */
    width: auto;
    height: auto;
}

.row {
    margin: 60px 15%;
    padding: 25px;
}

.grid-container {
    display: grid;
    grid-column-gap: 0;
}

.two-columns {
    grid-template-columns: 50% 50%;
}

.three-columns {
    grid-template-columns: auto auto auto;
}

.grid-item {
    width: auto;
    height: auto;
    margin: 40px 30px;
}


/*******************************/
/*      BACKGROUND COLORS      */
/*******************************/
.background-bright {
    background-color:#b39c4d ;
}
/**#a8763e*/
/*#f9df74*/

.background-light-green {
    background-color: #768948;
}

.background-green {
    background-color: #607744;
}

.background-light-dark-green {
    background-color: #34623f;
}

.background-dark-green {
    background-color: #1f271b;
}


/* INDIVIDUAL SECTION STYLING */
#eye-catch-splash {
    height: 800px;
    background-image: url("../images/landing_image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: #000000Bf;
}

#play-now {
    background-color: deepskyblue;
    align-content: center;
    text-align: center;
}

@keyframes bounce {
    0%   { padding-top: 0; }
    50%  { padding-top: 15px; }
    100%  { padding-top: 0; }
}

#logo {
    margin-top: 40px;
    animation: bounce 2s infinite;
}

#characters {
    height: auto;
}

#get-started {
}

#character-profiles-row {

}

#adventure-image-column {
    padding-top: 100px;
}

#choose-your-own-adventure {
   /* background: linear-gradient(180deg, rgba(30,47,35,1) 1%, #607744 28%);*/
}


.welcome-header-group {
    text-align: center;
}

.welcome-header-group > h1 {
    font-family: "Courier 10 Pitch", sans-serif;
    font-size: 82px;
    font-weight: lighter;
    color: greenyellow;
}

.welcome-header-group > h2 {
    font-family: "Courier 10 Pitch", sans-serif;
    font-size: 52px;
    color: lightgray;
}

.heading-color-bright {
    color: wheat;
}

.heading-color-dark {
    color: #1e2f23;
}

.color-bright_2 {
    color:#b39c4d;
}

.color-bright_1 {
    color:#1f271b;
}

.color-bright {
    color: wheat;
}

.text-align-center {
    text-align: center;
}

.rounded {
    border-radius: 200px;
}


/*************************/
/*        BUTTON         */
/*************************/
.button {
    display: inline-block;
    border-radius: 0;
    background-color: #768948;
    border: none;
    text-align: center;
    font-size: 22px;
    padding: 20px;
    transition: all 0.2s;
    cursor: pointer;
    margin: 5px;
}

.button a {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    text-decoration: none;
    color: white;
    font-family: FreeMono, sans-serif;
}

.button a:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover a {
    padding-right: 25px;
}

.button:hover a:after {
    opacity: 1;
    right: 0;
}

/************************/
/*        FOOTER        */
/************************/

footer {
    /*TODO: Do not use hard-coded height*/
    background-color: #111111;
    color: rgba(255, 255, 255, 0.7);
}

#footer-navigation-list li > a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

.footer-caption {
    font-family: Chandas, sans-serif;
    font-size: 20px;
    color: #ffffff9f;
}

.footer-info {
    background-color: #0A0A0A;
    height: 65px;
}

.footer-info-text {
    color: #ffffff9f;
    font-family: FreeMono, sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding-left: 150px;
    padding-top: 20px;
}

.character-profile {
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    align-content: center;
    align-items: center;
    box-shadow: 7px 17px 76px -31px rgba(0,0,0,0.75);
}

.grow-on-hover {
    transition:all 0.3s ease;
}

.grow-on-hover:hover {
    transform: scale(1.05);
}

.character-profile > h2 {
    color: whitesmoke;
}

.character-profile > p {
    color: wheat;
    font-style: italic;
}

#footer-widgets {
    margin-top: 0;
}